<body class="page">
  <%= render "shared/footer" %>
  <%= render "shared/navbar" %>
    <div class="container-form-habitslot">
      <h2 class= "habitslot-page-title">Change my habit day...</h2><hr>
      <%= simple_form_for [@habit, @habitslot] do |f| %>
        <div class="form-edit-habitslot">
          <%= f.input :start_time, html5:true, placeholder: "Start Date", label: "Start date" %>
          <%= f.input :end_time, html5:true, placeholder: "End Date", label: "End date" %>
          <div class="form-btns" style="display: flex; justify-content: space-between;">
            <%= f.submit "Done", class: "button-submit" %>
            <%= link_to habit_slot_path(@habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" do %>
              <div style= "margin-top: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</body>
