<div class="container-dashboard">
  <div class="backgr">
    <%= render "shared/footer" %>
    <%# <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

    <div class="banner">
      <div class="content">
        <h1>Welcome <%= current_user.username %></h1>
        <p><%= Date.today%></p>
        <p>Nothing is particulary hard if you break it down into small jobs...</p>
      </div>
    </div>
  </div>

  <div class="display">
    <h1 >Favourite habits</h1>
    <ul>
      <% @habits.each do |habit|  %>
      <li class="habit-card">
        <h2><%= habit.title %></h2>
        <p><%= habit.description %></p>
      </li>
      <% end %>
    </ul>
  </div>
  <%= render "shared/navbar"%>



<% @fav_habits.each do |habit| %>
 <div class = "dashboard-card" data-controller="favourite" data-action="click->favourite#colorStar">
    <%= render "shared/star", habit: habit%>
  <div class = "habit-name">
    <%= habit.title %>
  </div>
</div>
<% end %>

</div>
