<body class="page">
<%= render "shared/footer" %>
<br>
<div class="content">
    <div class="top-dash">
      <span>
        <p><%= Date.today %></p>
        <h1>hello Bobby </h1><hr>
        <br>
      </span><br>
    </div>
 <div class = "carousel-div">
  <%= render "shared/carousel" %>
 </div>
  <div>
    <h4 class= "fav-habit-title">My Favourite Habits</h4>
    <div class="fav-habit-display">
      <% @fav_habits.each do |habit| %>
        <%# <div data-controller="favourite"> %>
          <div class="fav-habit-card" data-favourite-target="habit" data-favourite="<%= habit.favourite %>" data-id="<%= habit.id %>">
            <p><%= habit.title %></p><hr>
            <p><%= habit.description %></p>
            <div data-action="click->favourite#favourite" data-favourite-target="star"><%= render "shared/star", habit: habit %></div>
          </div>
        <%# </div> %>
      <% end %>
    </div>
  </div>
      </div>
    </div>
  <%= render "shared/navbar" %>
</div>
</body>
