<div class="page">
<%# <%= render "shared/footer" %>
<br>
  <div class="top-dash">
    <span>
    <p><%= Date.today %></p>
    <h1>hello Bobby </h1><hr>
    <br>
    <div class="calendar">
      <h4>Your weekly schedule</h4>
      <br>

      <%= week_calendar(events: @habitslots) do |date, habitslots| %>
        <% @habitslots.each do |habitslot| %>
        <div>
            <h6><%= date.strftime("%a") %>, <%= date.strftime("%d") %></h6>
          <% if habitslot.habit.title %>
            <div style="border-radius: 50%; background-color: red; width: 20px">
              <% link_to habit_path(habitslot.habit) %>
            </div>
          <% end %>
          <%# <p><%= link_to habitslot.habit.title, habit_path(habitslot.habit)%></p>
          <%# <p>habit</p> %>
        </div>
        <% end %>
      <% end %>
    </div><hr>
    </span><br>
  </div>
  <div class="mid-dash">
    <h4>Your favourited habits</h4>
    <ul class="fav-habit-display">
      <% @habits.each do |habit| %>
      <li class="fav-habit-card" data-controller="favourite" data-favourite-target="habit" data-favourite="<%= habit.favourite %>" data-id="<%= habit.id %>">
        <p><%= habit.title %></p><hr>
        <div data-action="click->favourite#favourite"><%= render "shared/star", habit: habit %></div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
