<body class="page">
<%= render "shared/footer" %>
<br>
<div class="content">
    <div class="top-dash">
      <span>
        <% @date = Date.today %>
        <p><%= @date.strftime("%B, %d#{@date.day.ordinal}") %></p>
        <h1>Hello <%= current_user.nickname %></h1><hr>

        <br>
      </span><br>
    </div>
 <div class = "carousel-div">
  <%= render "shared/carousel" %>
 </div>
  <div>
    <h4 class= "fav-habit-title">My Favourite Habits</h4>
    <div class="fav-habit-display">
      <% @fav_habits.each do |habit| %>
          <li class="fav-habit-card" style="background:linear-gradient(45deg, <%= habit.colour1 %>, <%= habit.colour2 %> ); "data-favourite-target="habit" data-favourite="<%= habit.favourite %>" data-id="<%= habit.id %>">
            <%= link_to habit_path(habit) do %>
            <p class= "title-dashboard"><%= habit.title %></p><hr>
            <p class= "desc-dashboard"><%= habit.description %></p>
            <div data-action="click->favourite#favourite" data-favourite-target="star"><%= render "shared/star", habit: habit %></div>
            <% end %>
          </li>
      <% end %>
    </div>
  </div>
      </div>
    </div>
  <%= render "shared/navbar" %>
</div>
</body>
