<div class="container-dashboard">
    <div>
      <%= render "shared/footer" %>
      <%# <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
    <div>

    <div class="info-text info-section">
      <p><%= Date.today %></p>
      <p>Everything is easy if you break it down into small steps...</p>
    </div>

    <div class="habit-container">
      <h2 class="info-text">Favourite habits</h2>
      <% @habits.each_with_index do |habit, index| %>
        <div class="habit-card-dashboard" data-controller="favourite" data-action="click->favourite#colorStar">
          <% if index < 3 %>
          <%= render "shared/star", habit: habit %>
          <h2><%= habit.title %></h2>
          <p><%= habit.description %></p>
          <% end %>
        </div>
      <% end %>
  `` </div>
    `<div class="button-container">
      <p class="btn-ghost">See all your habits</p>
     </div>
    <%= render "shared/navbar" %>`
</div>
