<body class="page">
  <%= render "shared/footer" %>
   <div class="back-button-progress">
      <%= link_to dashboard_path, style: "text-decoration: none" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
        </svg>
      <% end %>
      <%= link_to "Back", dashboard_path, style: "text-decoration: none"%>
    </div>



<div class= "container-progress">
<div>
<h2 class = "d-flex h2-progress-weekly" >My Progress</h2>
<p class = "info-text-progress">An overview of my completed habits by day</p>
</div><hr>

<div class= "chart-card">
  <div class="chart-wrapper">
    <%= column_chart @habits.map { |habit|
      {name: habit.title, data: habit.habit_slots.where(completed: true).group_by_day(:start_time).count }
      }, stacked: true, xtitle: "Day Completed", ytitle: "No. Habits Completed", colors: ["#FBEDE0", "#DFED7B", "#7378D9", "#F7B154", "black", "orange"]
      %>
  </div>
</div>

  <div>
  <h2 class = "d-flex h2-progress-page" >My Overall Completion Rate</h2>
  <p class = "info-text-progress">Calculated completion rate across all habits</p>
  </div><hr>

  <div class="d-flex justify-content-center progress-circle progress-page-circle">
    <div data-controller="progress-circle" data-progress-circle-percent-value="<%= current_user.calculate_habit_completion_rate %>">
    </div>
  </div>
    <%= render "shared/navbar" %>

</div>
</body>
