
<body class="page">
  <div class="content">
    <h2><%= @date.strftime("%B, %d#{@date.day.ordinal}") %></h2>
    <h2>My Schedule Page</h2><br>

    <div class = "not-completed" data-wrapper="completed" style="transition: all 2s ease-in-out;">

    <% @habits.each do |habit| %>
      <% habit.habit_slots.each do |habitslot| %>
        <% if habitslot.start_time == @date %>
            <% habit = habitslot.habit %>
            <% if habitslot.completed == false %>
              <li class= "day-card" style="background:linear-gradient(45deg, <%= habit.colour1 %>, <%= habit.colour2 %> ); transition: all 2s ease-in-out;" data-controller="completed" data-id="<%= habitslot.id %>" data-habitid="<%= habit.id %>" data-date="<%= @date %>" data-completed="<%= habitslot.completed %>" >
              <%# <%= link_to habit_habit_slot_path(habitslot.habit, habitslot) do %>
                <div class="check" data-completed-target="habitslot" data-action="click->completed#completed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </div>
              <%# <% end %>
                <div class="star-day"><%= render "shared/star", habit: habit%></div>
                <h5><%=habit.title %></h5>
                <div class="destroy-edit-buttons">
                  <%= link_to edit_habit_habit_slot_path(habitslot.habit, habitslot), class: "edit-button" do%>
                    <div class="icon-day">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>




    <%# button to change the date of this particular habitslot %>
    <%# <p class="btn btn-outline-primary"><%= link_to "change habit date", edit_habit_habit_slot_path(habitslot.habit, habitslot)%></p>
      <%# button to delete this particular habitslot %>
    <%# <p class="btn btn-outline-primary"><%= link_to "Delete", habit_slot_path(habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    <%# <% end %>


    </div>

    <br><hr>

    <h3>Completed habits:</h3>
    <div class="completed" data-wrapper="completed" style="transition: all 2s ease-in-out;">
      <% @habits.each do |habit| %>
        <% habit.habit_slots.each do |habitslot| %>
          <% if habitslot.start_time == @date %>
              <% habit = habitslot.habit %>
            <% habit = habitslot.habit %>
            <% if habitslot.completed == true %>
              <li class= "day-card" style="background:linear-gradient(45deg, <%= habit.colour1 %>, <%= habit.colour2 %> );" data-controller="completed" data-id="<%= habitslot.id %>" data-habitid="<%= habit.id %>" data-date="<%= @date %>" data-completed="<%= habitslot.completed %>" >
                <div class="check" data-completed-target="habitslot" data-action="click->completed#completed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </div>
                <div class="star-day"><%= render "shared/star", habit: habit%></div>
                <h5><%=habit.title %></h5>
                <div class="destroy-edit-buttons">
                  <%= link_to edit_habit_habit_slot_path(habitslot.habit, habitslot), class: "edit-button" do%>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </div>
                  <% end %>
                  <%= link_to habit_slot_path(habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" do %>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                    </div>
                  <% end %>
                </div>
              </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    `</div>

    <%# button to link to broader calendar %>

  <%= render "shared/navbar" %>
  </div>
</body>
