
<body class="page">
  <div class="content">
    <h2><%= Date.today %></h2>
    <h2>Daily Schedule Page</h2><br>
    <ul id = "day-slots">
    <% @habitslots.each do |habitslot| %>
    <li class= "day-card">
      <div class="star-day"><%= render "shared/star"%></div>
      <h5><%=habitslot.habit.title %></h5>

    </li>
    </ul>

    <%# button to change the date of this particular habitslot %>
    <p class="btn btn-outline-primary"><%= link_to "change habit date", edit_habit_habit_slot_path(habitslot.habit, habitslot)%></p>
      <%# button to delete this particular habitslot %>
    <p class="btn btn-outline-primary"><%= link_to "Delete", habit_slot_path(habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    <% end %>

    <%# button to link to broader calendar %>

    <ul class="fav-habit-display">
      <% @habitslots.each do |habitslot| %>
        <%= render "habit_card", habitslot: habitslot %>
        <%# <p class="btn btn-primary"><%= link_to "change habit date", edit_habit_habit_slot_path(habitslot.habit, habitslot)%>
        <%# button to delete this particular habitslot %>
      <%# <p class="btn btn-primary"><%= link_to "Delete", habit_slot_path(habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </ul>
  <%= render "shared/navbar" %>
  </div>
</body>
