<%# @habitslots = all the habitslots for a user today. loop through them to display todays schedule %>
<% @habitslots.each do |habitslot| %>
 <%= habitslot.habit.title %>
 <%# button to change the date of this particular habitslot %>
 <p class="btn btn-primary"><%= link_to "change habit date", edit_habit_habit_slot_path(habitslot.habit, habitslot)%></p>
  <%# button to delete this particular habitslot %>
 <p class="btn btn-primary"><%= link_to "Delete", habit_slot_path(habitslot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<% end %>

<%# button to link to broader calendar %>
<div class="btn btn-primary"><%= link_to "back to calendar", calendar_path %></div>


<ul class="fav-habit-display">
    <% @habitslots.each do |habitslot| %>
      <li class="fav-habit-card" data-controller="completed" data-completed-target="habitslot" data-completed="<%= habitslot.completed %>" data-id="<%= habitslot.id %>" data-habit-id="<%= habitslot.habit_id %>">
        <p><%= habitslot.habit.title %></p><hr>
        <p><%= habitslot.habit.description %></p>
        <div data-action="click->completed#completed"><%= render "shared/check" %></div>
      </li>
    <% end %>
