<p><%= @habitslot.habit.title %></p>
<p><%= @habitslot.habit.description %></p>
<p><%= @habitslot.start_time %></p>
<p class="btn btn-primary"><%= link_to "change habit date", edit_habit_habit_slot_path(@habitslot.habit, @habitslot)%></p>
<p class="btn btn-primary"><%= link_to "new habit", new_habit_habit_slot_path(@habit) %></p>
<p class="btn btn-primary"><%= link_to "Delete",
    habit_slot_path(@habitslot),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></p>
