<h1> Your Habits </h1>
<% @habits.each do |habit| %>
  <p>Title: <%= habit.title %>
  <p>Description: <%= habit.description %>
  <p class="btn btn-primary"><%= link_to "habit", habit_path(habit) %></p>
  <ul>
    <% habit.habit_slots.each do |habitslot| %>
      <li> <%= habitslot.start_time %>
    <% end %>
  </ul>
 <% end %>

 <div class="btn btn-primary"> <%= link_to "create habit", new_habit_path %></div>


<%= month_calendar(events: @habitslots) do |date, habitslots| %>
  <%= date %>

  <% habitslots.each do |habitslot| %>
    <div>
      <p><%= link_to habitslot.habit.title, habit_habit_slot_path(habitslot.habit, habitslot) %></p>
    </div>
  <% end %>
<% end %>
