
<div class="habits-index">
  <%= render "shared/footer" %>
  <%= form_with url: habits_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search",
      placeholder: "   search"
    %>
  <% end %>

<%# Info about habits, link to habit show page of each one %>
<h1> Your Habits </h1>

<% @habits.each do |habit| %>
  <div class="card" style="background: <%= habit.colour %>;">
    <p>Title: <%= habit.title %>
    <p>Description: <%= habit.description %>
    <%= render "shared/star", habit: habit %>
    <p class="btn btn-primary"><%= link_to "habit", habit_path(habit) %></p>
  <% end %>
  </div>
</div>
<%= render "shared/navbar" %>
