
<div class="habits-index">
  <%= render "shared/footer" %>
  <%= form_with url: habits_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search",
      placeholder: "   search"
    %>
  <% end %>
  <div class="habits-display">
    <% @habits.each do |habit| %>
      <%= link_to habit_path(habit) do %>
        <div class="habit-card">
          <h6><%= habit.title %></h6>
          <p><%= habit.description %></p>
        </div>
      <% end %>
    <% end %>

  </div>
<%= render "shared/navbar" %>
</div>
