
<body class="page">
  <%= render "shared/footer" %>
  <%= form_with url: habits_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search",
      placeholder: "   search"
    %>
  <% end %>
  <hr>
  <div class="content">
    <div class="calendar">
      <h4>View daily schedules</h4>
      <%= week_calendar(events: @habitslots) do |date, habitslots| %>
        <% @habitslots.each do |habitslot| %>
          <div>
            <%= link_to schedule_today_path(date) do %>
              <h6><%= date.strftime("%a") %> <br> <%= date.strftime("%d") %></h6>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div><hr>
  <div class="habits-display">
    <% @habits.each do |habit| %>
      <%= link_to habit_path(habit) do %>
        <div class="habit-card">
          <div class="star-index">

            <%= render "shared/star", habit: habit %>


          </div>
          <h6><%= habit.title %></h6>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
<%= render "shared/navbar" %>
</body>
