
<body class="page">
  <%= render "shared/footer" %>
  <%= form_with url: habits_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search",
      placeholder: "   search"
    %>
  <% end %>
  <hr>
  <div class="content">
    <div class="calendar">
      <h4>View daily schedules</h4>
      <%= week_calendar(events: @habitslots) do |date, habitslots| %>
        <% @habitslots.each do |habitslot| %>
          <div>
            <%= link_to schedule_today_path(date) do %>
              <h6><%= date.strftime("%a") %> <br> <%= date.strftime("%d") %></h6>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <hr>

  <div class="habits-display">
    <% @habits.each do |habit| %>
      <%= link_to habit_path(habit) do %>
        <div data-controller="favourite">
          <div class="habit-card" style="background:linear-gradient(90deg, <%= habit.colour1 %>, <%= habit.colour2 %> ); " data-favourite-target="habit" data-favourite="<%= habit.favourite %>" data-id="<%= habit.id %>">
            <p><%= habit.title %></p><hr>
            <div data-action="click->favourite#favourite" data-favourite-target="star"><%= render "shared/star", habit: habit %></div>
            <div class="container-attributes">
              <div class="skills speed" style="width: <%= habit.calculate_habit_completion_rate_for_habit(habit.id) %>%"><%= habit.calculate_habit_completion_rate_for_habit(habit.id) %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



          <%# <%= link_to habit_path(habit) do %>
            <%# <div class="habit-card"> %>
              <%# <div class="star-index"> %>

                <%# <%= render "shared/star", habit: habit %>

              <%# </div> %>
              <%# <h6><%= habit.title %>
            <%# </div>
          <% end %>
    <%# <% end %>
  <%# </div> %>



<%= render "shared/navbar" %>
</body>
