<div class="bg">
    <%= render "shared/footer" %>
  <div class="container form-container">
    <h1 class = "new-habit-title">New Habit...</h1>
    <div data-controller="form-toggler">
    <div data-form-toggler-target="formcontainer">
      <%= simple_form_for([@habit]) do |f| %>
        <div class="form-inputs">
          <%= f.input :title, label: false, placeholder: "Title" %>
          <%= f.input :description, label: false, placeholder: "Description" %>
          <div class="date_select">
            <%= f.input :start_date, html5:true, placeholder: "Start Date"%>
            <%= f.input :end_date, html5:true, placeholder: "End Date"%>
          </div>
        </div>
        <div data-action="change->form-toggler#toggleForm" data-form-toggler-target="repeat"><%= f.input :repeat, as: :boolean, input_html: { class: "repeat" } %></div>
        <%= f.submit "Add" %>
        <% end %>
    </div>
    </div>
  </div>
</div>
