<div class="container-show">
  <%= render "shared/footer" %>`
  <div class="content">
    <div class="btn-ghost button-position"> <%= link_to "Back", habits_path %></div>
    <div class="habit-card-section">
      <div class="habit-card-show">
        <h2><%= @habit.title %></h2>
        <p><%= @habit.description %></p>
      </div>
    </div>
    <div data-controller="circularbar" class="pie" data-pie='{ "colorCircle": "#FFFFFF", "fontColor": "#FFFFFF", "percent": 80 }' ></div>
    <div class="progresstext"><h2>Completion rate for this habit</h2></div>
    <div class="button-container-show">
      <div class="btn-ghost"> <%= link_to "Change Habit", edit_habit_path %></div>
      <div class="btn-ghost"><%= link_to "Remove Habit", habit_path(@habit), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
    </div>
    <%= render "shared/navbar" %>`
  </div>

<%# <%=  @habit_completion_rate %>
