<!DOCTYPE html>
<html>
  <head>
    <title>HABITTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/circular-progress-bar@1.1.9/dist/circularProgressBar.min.js"></script>

  </head>


  <body>
    <%= yield %>
    <%# <%= render "shared/navbar" %>
    <%# <%= render "shared/flashes" %>
  </body>
</html>
