<!DOCTYPE html>
<html>
  <head>
    <title>HABITTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'classic' theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/> <!-- 'monolith' theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


  </head>


  <body>
    <%= yield %>
    <%# <%= render "shared/navbar" %>
    <%# <%= render "shared/flashes" %>
  </body>
</html>
